<h1>New Message</h1>
<form method="POST" action="/new">
  <div>
    <label for="user">Your Name:</label>
    <input type="text" id="user" name="user">
  </div>
  <div>
    <label for="text">Your Message:</label>
    <input type="text" id="text" name="text">
  </div>
  <button type="submit">Submit</button>
</form>
